@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap");

$border-radius: 0.6rem;

@import "../style/button.scss";
@import "../style/navbar.scss";
@import "../style/typograph.scss";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

$blue: #0098b8;
$red: #e45c41;
$orange: #f49800;
$yellow: #f49800;
$green: #28a745;
$teal: #009190;
$cyan: #009469;
$dark: #2e3547;
$light: #f5f5f5;

$theme-colors: (
  primary: $blue,
  secondary: $cyan,
  success: $green,
  info: $blue,
  warning: $orange,
  danger: $red,
);

$font-family-base: "Poppins", sans-serif;
$lead-font-weight: 400;
$alert-bg-level: -10;
$alert-color-level: 1;

@import "../style/field.scss";
@import "../style/table.scss";
@import "../style/card.scss";
@import "../style/size.scss";
@import "../style/wizard.scss";
@import "../style/side-navbar.scss";
@import "node_modules/bootstrap/scss/bootstrap";
